body {
    margin: 0;
}

.img1 {
    width: 80px;
    border-radius: 2%;
    padding-left: 15px;
}

.img2 {
    width: 80px;
    padding-right: 15px;
}

.comentarios {
    padding-left: 21%;
}

.quadro {
    background-color: rgb(160, 160, 160);
    border-radius: 0.7%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    padding-bottom: 1%;
}

.texto-editavel label {
    padding: 21%;
}

.primeira-parte {
    display: flex;
    margin: 5%;
}

.segunda-parte {
    display: flex;
    margin: 5%;
}
